<div class="bg-blue-900 text-white h-screen w-64 fixed">
  <div class="p-4 text-center font-bold text-xl">Gestion des Tâches</div>
  <ul class="mt-8 space-y-4">
    <li><a href="#" class="block px-4 py-2 hover:bg-blue-700">Dashboard</a></li>
    <li><a href="#" class="block px-4 py-2 hover:bg-blue-700">Utilisateurs</a></li>
    <li><a href="#" class="block px-4 py-2 hover:bg-blue-700">Projets</a></li>
    <li><a href="#" class="block px-4 py-2 hover:bg-blue-700">Tâches</a></li>
    <li><a href="#" class="block px-4 py-2 hover:bg-blue-700">Déconnexion</a></li>
  </ul>
</div>